Repository DemonDaddy22/text-encryptor-server, changes with the labels that .github/labeler.yml gives for each.
All labels: modules, source, controller, service, documentation, package, config

fix: Update lint.yml
  .github/workflows/lint.yml
Labels: none

Add mongoose and uuid
  .eslintrc.cjs
  index.js
  package-lock.json
  package.json
Labels: source, package, config

Update lint rules and add necessary fields in message schema
  .eslintrc.cjs
  helpers/validateUUID.js
  index.js
  models/Message.js
Labels: source, service, config

Add mongoose-encryption plugin on mongoose schema
  index.js
  models/Message.js
  package-lock.json
  package.json
Labels: source, package

Create post route and update api endpoints
  index.js
Labels: source

Create custom error, asyncErrorHandler and update verify id route
  errors/SwooshError.js
  helpers/asyncErrorHandler.js
  index.js
Labels: source, service

Add prettier and update eslint rules
  .eslintrc.cjs
  helpers/asyncErrorHandler.js
  helpers/validateUUID.js
  index.js
  models/Message.js
  package-lock.json
  package.json
  prettier.config.cjs
Labels: source, service, package, config

Separate out controllers
  controllers/messageControllers.js
  index.js
Labels: source, controller

Add minimum value check for valid for while creating new message
  controllers/messageControllers.js
Labels: controller

Update error message for bad request
  controllers/messageControllers.js
Labels: controller

Add TinyURL Changes - add tinyurl package - encrypt validFor and url as well - save tinyurl instead of complete url
  controllers/messageController.js
  index.js
  models/Message.js
  package-lock.json
  package.json
Labels: source, controller, package

Validate tinyURL before storing in DB
  controllers/messageControllers.js
  helpers/validateTinyURL.js
  helpers/validateUUID.js
Labels: controller, service

Delete messageControllers.js
  controllers/messageControllers.js
Labels: controller

Read secretKey from request Changes - Add secretKey entry in DB - Accept secretKey while creating new message - Check secretKey before decrypting message
  controllers/messageController.js
  models/Message.js
Labels: controller

Get secret key from query params
  controllers/messageController.js
Labels: controller

Make API response format consistent
  controllers/messageController.js
  index.js
Labels: source, controller

Remove id from response message texts
  controllers/messageController.js
Labels: controller

Fix quotes
  controllers/messageController.js
Labels: controller

Fix no content message
  controllers/messageController.js
Labels: controller

Remove prestart script
  package.json
Labels: package

.github/labeler.yml:

modules:
    - node_modules/*
    - node_modules/**/*

source:
    - index.js

controller:
    - controllers/*

service:
    - helpers/*

documentation:
    - '*.md'

package:
    - package.json
    - package-lock.json

config:
    - .eslintrc.cjs
    - .eslintignore
    - .vscode/*
